<!DOCTYPE html>
<html>
<head>
<%include ./common/head.ejs%>
<style>
	.main-list { min-height: 320px;}
	.main-list li{padding: 5px 0;}
	.main-right{border-radius: 4px; background: #ddd; padding: 10px;}
</style>
</head>
<body>
	<%include ./common/top.ejs%>
	<div class="container">
		<div class="main-content pt-50 pb-50">
			<div class="row">
				<div class="col-sm-9">
					<h4>文章</h4>
					<ul class="main-list">
						<% blogs.forEach(function (item, index) {%>
							<li>
								<a href="/user/blog/<%=item.id%>"><%=item.title%></a>
								<span class="color-999 fs-14">
								(<%=item.change%> <%=moment(item.updated_at).format('YYYY-MM-DD')%>，by <span class="fs-16 color-333"><a href="/user/user/<%=item.user.id%>"><%=item.user.user_name%></a></span>)
								</span>
							</li>
						<%})%>
					</ul>
					<!-- 分页 -->
					<%- include('common/page.ejs', {api: '/main'});%>
					<!-- 分页end -->
				</div>
				<div class="col-sm-3">
					<h4>现有用户</h4>
					<div class="main-right">
						<ul class="main-right-list">
							<%users.forEach( function(item, index) {%>
								<li><a href="/user/user/<%=item.id%>"><%=item.user_name%></a></li>
							<%})%>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<%include ./common/script.ejs%>
</html>
